 # Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Editor & OS Files
.DS_Store
.vscode/
.idea/
*.swp
Thumbs.db
# .npmrc

# Build & Output
dist/
build/
android/
ios/

# Logs
logs/
*.log
