@tiptap-pro:registry=https://registry.tiptap.dev/
@tiptap-cloud:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=jIrT9LUVS6575vdtl9FGc0IXlrBZ2drq67netBS8fAl7NMDElPvhvAZAHPv1Iu5irl6xfH7i/VdsP4bBiEtpPA==