:root {
  --yellow: #ffe066 !important;
  /* light yellow */
  --yellow-contrast: #daf41b !important;
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

  /* Placeholder */
  .is-empty::before {
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Give a remote user a caret */
  .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
  }

  /* Render the username above the caret */
  .collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
  }

  /* Thread mark */
  .tiptap-thread,
  .tiptap-thread * {
    transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .tiptap-thread[data-type="block"] {
    &:first-child {
      margin-top: 0;
    }

    > :not(p, h1, h2, h3, h4, h5, h6, ul, li) {
      outline-width: 2px;
      outline-color: transparent;
      outline-style: dashed;
    }
  }
}

.threads-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 -1rem;
  overflow: auto;
  padding: 0 1rem;

  @media (max-width: 540px) {
    margin: 0 -1.5rem;
    max-height: 40vh;
    padding: 0 1.5rem 1.5rem;
    width: calc(100% + 3rem);
  }

  .thread {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1px var(--gray-3) inset;
    display: flex;
    flex-direction: column;
    transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);

    &.is-active,
    &:hover {
      box-shadow: 0px 0px 0px 1px var(--gray-4) inset;
    }

    &.is-open {
      box-shadow: 0px 0px 0px 1px var(--purple) inset;
    }

    /* Thread header */
    .header-group {
      // border-bottom: 1px solid var(--gray-3);
      padding: 0.375rem 0.5rem;

      button {
        background-color: unset;

        &:hover {
          background-color: var(--gray-2);
        }
      }
    }

    /* Hint */
    .hint {
      align-items: center;
      background-color: var(--yellow-light);
      border: 1px solid var(--gray-2);
      border-radius: 0.5rem;
      display: flex;
      flex-direction: row;
      font-size: 0.75rem;
      gap: 0.5rem;
      line-height: 1.15;
      min-height: 1.75rem;
      padding: 0.25rem 0.5rem;
      margin: 0.8rem 0.8rem 0;
    }

    /* Closed thread */
    &:not(.is-open) {
      .comments-group {
        .comment {
          &:not(:last-child) {
            padding-bottom: 0;
          }

          .comment-content {
            p {
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              align-self: stretch;
              display: -webkit-box;
            }

            .button-group {
              display: none;
            }

            label {
              display: inherit;
            }
          }
        }

        .comments-count {
          margin-top: 0.2rem;
        }
      }
    }

    /* Comments */
    .comments-group {
      display: flex;
      flex-direction: column;
      padding: 0.8rem;

      .comment {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        &.deleted {
          opacity: .5;
        }

        &:not(:first-child) {
          border-top: 1px solid var(--gray-3);
          padding-top: 0.75rem;
        }

        &:not(:last-child) {
          padding-bottom: 0.75rem;
        }

        .comment-edit {
          padding: unset;
        }

        .comment-content {
          display: flex;
          flex-direction: column;
          gap: 0.625rem;
        }
      }
    }
  }

  /* Basic styling */
  button {
    font-size: 0.75rem;
    padding: 0.25rem 0.375rem;
    border-radius: 0.375rem;
  }

  .button-group {
    gap: 0.02rem;
  }

  label {
    color: var(--gray-5);
    font-size: 0.75rem;
    font-weight: 400;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.4;
    margin: 0;
    overflow: hidden;
  }

  .label-group {
    column-gap: 0.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label:not(:first-child)::before {
      content: "·";
      padding-right: 0.25rem;
    }

    label:first-of-type {
      font-weight: 700;
      color: var(--black);
    }
  }

  /* Reply input styling */
  .reply-group,
  .comment-edit {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    padding: 0.2rem 0.8rem 0.8rem;

    textarea {
      height: 4.5rem;
      resize: none;
      padding: 0.375rem 0.625rem;
      line-height: 1.3;
      width: 100%;

      &:focus,
      &:focus-visible {
        border-color: var(--black);
      }
    }

    .flex-row {
      column-gap: 0.5rem;
      row-gap: 0.25rem;
    }
  }

  .reply-group {
    &:not(:has(textarea:focus)) {
      .flex-row {
        display: none;
      }
    }

    textarea:placeholder-shown:not(:focus) {
      height: 2rem;
    }

    textarea:not(:placeholder-shown) {
      height: 4.5rem;
    }

    &:has(textarea:not(:placeholder-shown)) {
      .flex-row {
        display: flex;
      }
    }
  }
}

/* Structue */
.col-group {
  display: flex;
  flex-direction: row;

  @media (max-width: 540px) {
    flex-direction: column-reverse;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// [data-viewmode="open"] .tiptap {
.tiptap-thread[data-status-all="open"] {
  &[data-type="block"] {
    > :not(p, h1, h2, h3, h4, h5, h6, ul, li) {
      background-color: var(--yellow) !important;
      outline-color: var(--yellow) !important;
    }

    &:hover,
    // &[data-state="selected"],
    &[data-state="hovered"] {
      > :not(p, h1, h2, h3, h4, h5, h6, ul, li) {
        background-color: var(--yellow-contrast);
        outline-color: var(--yellow-contrast);
      }
    }
  }

  &[data-type="inline"] {
    border-bottom: 2px dashed var(--yellow-contrast) !important;

    &:hover,
    &[data-state="selected"],
    &[data-state="hovered"] {
      background-color: var(--yellow) !important;
    }
  }
}

// }

// [data-viewmode="resolved"] .tiptap {
.tiptap-thread[data-status="closed"] {
  &[data-type="block"] {
    > :not(p, h1, h2, h3, h4, h5, h6, ul, li) {
      background-color: var(--yellow) !important;
      outline-color: var(--yellow) !important;
    }

    &:hover,
    &[data-state="selected"],
    &[data-state="hovered"] {
      > :not(p, h1, h2, h3, h4, h5, h6, ul, li) {
        background-color: var(--yellow-contrast) !important;
        outline-color: var(--yellow-contrast) !important;
      }
    }
  }

  &[data-type="inline"] {
    border-bottom: 2px dashed var(--yellow-contrast) !important;

    &:hover,
    &[data-state="selected"],
    &[data-state="hovered"] {
      background-color: var(--yellow) !important;
    }
  }
}

// }

/* [data-viewmode="open"] .tiptap .tiptap-thread:not([data-status="closed"]),
  [data-viewmode="resolved"] .tiptap .tiptap-thread:not([data-status="open"]) {
    &[data-type="block"] {
      > :not(p, h1, h2, h3, h4, h5, h6, ul, li) {
        background-color: var(--yellow);
        outline-color: var(--yellow);
      }
  
      &:hover,
      &[data-state="selected"],
      &[data-state="hovered"] {
        > :not(p, h1, h2, h3, h4, h5, h6, ul, li) {
          background-color: var(--yellow-contrast);
          outline-color: var(--yellow-contrast);
        }
      }
    }
  
    &[data-type="inline"] {
      border-bottom: 2px dashed var(--yellow-contrast);
  
      &:hover,
      &[data-state="selected"],
      &[data-state="hovered"] {
        background-color: var(--yellow);
      }
    }
  } */


.tiptap-thread--selected {
  background-color: #ffe066 !important;
}



/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  mark {
    background-color: #FAF594;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

  p {
    word-break: break-all;
  }

  /* Give a remote user a caret */
  .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
  }

  /* Render the username above the caret */
  .collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
  }
}

.col-group {
  display: flex;
  flex-direction: row;

  @media (max-width: 540px) {
    flex-direction: column-reverse;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebarHistory {
  background-color: #ffffff;
  border-left: 1px solid var(--gray-3);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1rem;
  width: 15rem;
  position: sticky;
  height: 80vh;
  top: 0;

  @media (min-width: 800px) {
    width: 20rem;
  }

  @media (max-width: 540px) {
    border-bottom: 1px solid var(--gray-3);
    border-left: unset;
    width: 100%;
    height: auto;
    position: unset;
    padding: 1.5rem;
  }
}

.sidebar-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  // max-height: 50;
  // gap: 1rem;
  position: sticky;
  // top: 1rem;
}

.option-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;

  form {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.versions-group {
  border-bottom: 1px solid var(--gray-3);
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 0.25rem;
  overflow: auto;
  padding-bottom: 1rem;
  width: 100%;

  @media (max-width: 540px) {
    border-bottom: unset;
    flex-direction: row;
    flex: unset;
    padding-bottom: 0;

    button {
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 12rem;
      width: 60vw;
    }
  }

  button {
    background-color: unset;
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-size: 0.8125rem;
    font-weight: 500;
    gap: 0.375rem;
    line-height: 1.15;
    padding: 0.625rem;
    text-align: left;

    &:hover {
      background-color: var(--gray-3);
    }

    &.is-active {
      background-color: var(--gray-2);
      background: var(--white);
      box-shadow: 0px 0px 0px 1px var(--purple) inset;
      color: var(--purple);

      &:hover {
        background-color: none;
      }
    }

    span {
      color: var(--gray-5);
      font-size: 0.75rem;
      font-weight: 400;
      text-align: left;
    }
  }
}

/* Dialog styling */
body:has(.dialog[data-state="open"]) {
  overflow: hidden;
  pointer-events: none;
}

.dialog {
  pointer-events: visible;
  display: none;

  &[data-state="open"] {
    display: inherit;
  }

  &:before {
    background-color: var(--gray-5);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .sidebar {
    height: 100%;
    position: unset;

    @media (max-width: 540px) {
      height: unset;
    }
  }

}

.dialog-content {
  // background: #e5e2e24f;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 1rem;
  height: calc(100% - 1rem);
  left: 55%;
  max-height: 95vh;
  max-width: 1200px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 1rem);
  z-index: 101;

  .main {
    overflow: auto;
    background: #ffffff;
    height: 80%;
  }
}






/* Version snapshot */


:root {
  --purple-light: #b3a8dc !important;
  --black: #0e0d0d;
  --gray-3: #bbb2b27c;
  --gray-22: #bbb2b27c;
  --purple: #6a00f5;
  --gray-5: #bbb2b27c;
  --white:#ffffff;
}


// Diff users
.diff-users {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
}

.diff-user {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;

  @media (max-width: 540px) {
    font-size: 0.875rem;
  }
}

.diff-user-color {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 1px;
}

/* In editor diffing styles */

// When there is a user involved, add a tooltip with the user's name
[data-diff-user-id] {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

[data-diff-user-id]::before {
  content: attr(data-diff-user-id);
  font-weight: normal;
  line-height: normal;
  visibility: hidden;
  background-color: #fff;
  border: 1px solid var(--black);
  color: var(--black);
  text-align: center;
  border-radius: 6px;
  font-size: 0.75rem;
  padding: 3px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 0;
  white-space: nowrap;
}

[data-diff-user-id]:hover::before {
  visibility: visible;
}

// When there is no user involved, fallback to red and green colors
[data-diff-type="inline-insert"],
[data-diff-type="inline-update"],
[data-diff-type="block-insert"] {
  color: var(--black);
  background-color: rgb(226, 255, 232);
  position: relative;

  // // A little border around the diff
  // &::after {
  //   background-color: rgb(226, 255, 232);
  //   bottom: -2px;
  //   content: "";
  //   left: -2px;
  //   position: absolute;
  //   right: -2px;
  //   top: -2px;
  //   z-index: -1;
  // }
}

[data-diff-type="inline-delete"],
[data-diff-type="inline-update"],
[data-diff-type="block-delete"] {
  color: var(--black);
  background-color: rgb(255, 226, 226);
  text-decoration: line-through;
  position: relative;


  // // A little border around the diff
  // &::after {
  //   background-color: rgb(255, 226, 226);
  //   bottom: -2px;
  //   content: "";
  //   left: -2px;
  //   position: absolute;
  //   right: -2px;
  //   top: -2px;
  //   z-index: -1;
  // }
}


/* Basic editor styles */

.col-group {
  display: flex;
  flex-direction: row;

  @media (max-width: 540px) {
    flex-direction: column-reverse;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  // Make the editor take up all the space
  >*:nth-child(2) {
    flex: 1 1 100%;
    display: flex;
    align-items: stretch;

    >* {
      flex: 1 1 100%;
    }
  }
}

.versions-group {
  border-bottom: 1px solid var(--gray-3);
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 0.25rem;
  overflow: auto;
  padding-bottom: 1rem;
  width: 100%;

  @media (max-width: 540px) {
    border-bottom: unset;
    flex-direction: row;
    flex: unset;
    padding-bottom: 0;

    button {
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 12rem;
      width: 60vw;
    }
  }

  button {
    background-color: unset;
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-size: 0.8125rem;
    font-weight: 500;
    gap: 0.375rem;
    line-height: 1.15;
    padding: 0.625rem;
    text-align: left;

    &:hover {
      background-color: var(--gray-3);
    }

    &.is-active {
      background-color: var(--gray-22);
      background: var(--white);
      box-shadow: 0px 0px 0px 1px var(--purple) inset;
      color: var(--purple);
      border-color: var(--purple);

      &:hover {
        background-color: none;
      }
    }

    span {
      color: var(--gray-5);
      font-size: 0.75rem;
      font-weight: 400;
      text-align: left;
    }
  }
}

/* Dialog styling */
body:has(.dialog[data-state="open"]) {
  overflow: hidden;
  pointer-events: none;
}

.dialog {
  pointer-events: visible;
  display: none;

  &[data-state="open"] {
    display: inherit;
  }

  &:before {
    background-color: var(--gray-5);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .sidebar {
    height: 100%;
    position: unset;

    @media (max-width: 540px) {
      height: unset;
    }
  }
}

.dialog-content {
  background: #fff;
  border-radius: 1rem;
  height: calc(100% - 1rem);
  left: 50%;
  max-height: 800px;
  max-width: 1200px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 1rem);
  z-index: 101;

  .main {
    overflow: auto;
  }
}

.diff.line-break.ProseMirror-widget {
  &:after {
    // content: '↵';
    opacity: 0.7;
    display: block;
  }
}